<section class="section">
    <div class="container">
        <h1 class="title article-title2">{{article.title}}</h1>
        <img class="article-img" src="{{article.image}}">
        <p class="p-text2">{{{stripTags article.content}}}</p>
    </div>
</section>