<section id="contact" class="section">
    <div class="container">
        <h1 class="title">Contact me :</h1>
        <p class="contact"><i class="fas fa-phone"></i>&emsp;N° 06.01.02.03.04</p>
        <p class="contact"><i class="fas fa-at"></i>&emsp;adresse mail: s.......@gmail.com</p>
    </div>
</section>




