<section class="timeline">
    <ul>
        <li>
            <div class="reveal">
                <p>
                    <phase>PHASE 1</phase>
                    CoralCoin development starts</br>

                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p>
                    <phase>PHASE 2</phase>
                    CoralCoin Launches With PoW/PoS </br>
                    Apply For Exchange Listings </br>

                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p>
                    <phase>PHASE 3</phase>
                    Masternodes Launch</br>
                    CoralCoin Store Development Beta</br>
                    Livestream Webcam(How can I say this better)???</br>
                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p>
                    <phase>PHASE 4</phase>
                    CoralCoin Store Launches</br>
                    Merchant Exchange Platform Development Starts</br>

                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p>
                    <phase>PHASE 5</phase>
                    CoralCoin App Development Starts
                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p>
                    <phase>PHASE 6</phase>
                    Partnership With Online Vendors </br>
                    Mobile Wallet Development Begins</br>
                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p class="blurry-text">
                    <phase>PHASE 7</phase>
                    To be revealed
                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p class="blurry-text">
                    <phase>PHASE 8</phase>
                    To Be Revealed</br>


                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p class="blurry-text">
                    <phase>PHASE 9</phase>
                    To be revealed
                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p class="blurry-text">
                    <phase>PHASE 10</phase>
                    To be revealed
                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p class="blurry-text">
                    <phase>PHASE 11</phase>
                    To be revealed
                </p>
            </div>
        </li>
        <li>
            <div class="reveal">
                <p class="blurry-text">
                    <phase>PHASE 12</phase>
                    To be revealed
                </p>
            </div>
        </li>
    </ul>
</section>